@import "colors.scss";

.boxImg {
    .boxImgContent {
        width: 1297px;
        height: 451px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        border-radius: 8px;

        .text {
            width: 326px;
            margin-left: 86px;
            display: flex;
            flex-direction: column;
            gap: 42px;
            align-items: flex-start;
            justify-content: center;
            align-content: center;

            p {
                font-size: 36px;
                color: white;
            }

            button {
                background-color: transparent;
                border: 2px solid white;
                width: 163px;
                height: 54px;
                border-radius: 5px;
                font-size: 15px;
                color: white;
                cursor: pointer;
            }

        }
    }

    .boxImgContent4 {
        width: 1297px;
        height: 383px;
        background-image: linear-gradient(to left, #0085c6, #038dd0, #007CC1);
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        border-radius: 8px;

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            align-content: center;

            p {
                width: 447px;
                font-size: 16px;
                color: white;
            }

            p:first-child {
                font-size: 30px;
                margin-bottom: 23px;
            }


            form {
                margin-top: 38px;
                width: 546px;
                border-radius: 5px;
                height: 81px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                align-content: center;

                .input {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: white;
                    align-content: center;

                    img {
                        margin-left: 23px;
                    }

                    input {
                        border: none;
                        font-size: 16px;
                        outline: none;
                        margin-left: 15px;
                    }

                }

                button {
                    border-radius: 5px;
                    width: 173px;
                    height: 60px;
                    margin-right: 16px;
                    font-size: 16px;
                    color: white;
                    border: none;
                    background-color: $pinkDefault;
                }
            }


        }
    }
}

@media(max-width: 1461px) {

    .boxImg {
        .boxImgContent {
            width: 1080px !important;
            height: 400px !important;

            .text {
                width: 250px !important;
                margin-left: 46px !important;

                button {
                    width: 150px !important;
                    height: 45px !important;
                }

            }

            img {
                height: 400px !important;
            }
        }

        .boxImgContent4 {
            width: auto !important;
            margin: 0 !important;

            .text {

                form {
                    width: 400px;
                    height: 60px;

                    .input {

                        img {
                            margin-left: 20px;
                        }
                    }

                    button {
                        width: 150px;
                        height: 45px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .boxImg {
        .boxImgContent {
            width: calc(100vw - 40px) !important;
            height: 320px !important;

            .text {
                width: 250px !important;
                margin-left: 46px !important;

                button {
                    width: 150px !important;
                    height: 45px !important;
                }

            }

            img {
                height: 320px !important;
            }
        }

        .boxImgContent4 {
            margin: 0 20px ;
            width: calc(100vw - 40px) !important;
            height: 320px !important;

            .img {
                height: 320px;
            }

            .text {

                form {
                    width: 320px;
                    height: 50px;

                    .input {

                        input {
                            width: 150px;
                            font-size: 13px;
                        }

                        img {
                            width: 20px;
                            margin-left: 20px;
                        }
                    }

                    button {
                        width: 100px;
                        height: 35px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1024px) {
    .boxImg {
        .boxImgContent {
            width: calc(100vw - 40px) !important;
            height: 280px !important;

            .text {
                width: 200px !important;
                margin-left: 46px !important;

                p{
                    font-size: 20px;
                }

                button {
                    width: 120px !important;
                    height: 45px !important;
                }

            }

            img {
                height: 280px !important;
                width: 60%;
            }
        }

        .boxImgContent4 {
            margin: 0 20px ;
            width: calc(100vw - 40px) !important;
            height: 280px !important;

            .img {
                height: 280px;
                width: 60%;
            }

            .text {
                width: 80%;

                p{
                    font-size: 18px !important;
                    width: 70%;
                    margin: 0;
                }

                form {
                    margin: 20px 0 0 0;
                    width: 280px;
                    height: 50px;

                    .input {

                        input {
                            width: 100px;
                            font-size: 12px;
                        }

                        img {
                            width: 18px;
                            margin-left: 12px;
                        }
                    }

                    button {
                        width: 100px;
                        height: 35px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media(max-width: 750px) {
    .boxImg {
        .boxImgContent {
            width: 100vw !important;
            height: 260px !important;
            border-radius: 0px;

            .text {
                width: 200px !important;
                margin-left: 46px !important;

                p{
                    font-size: 20px;
                }

                button {
                    width: 120px !important;
                    height: 45px !important;
                }

            }

            img {
                height: 260px !important;
                width: 55%;
            }
        }

        .boxImgContent4 {
            border-radius: 0px;
            margin: 0;
            width: 100vw !important;
            height: 260px !important;

            .img {
                height: 260px;
                width: 55%;
            }

            .text {
                width: 100%;
                align-content: center;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 15px !important;
                    width: 90%;
                }

                form {
                    margin: 20px 0 0 0;
                    width: 250px;
                    height: 50px;

                    .input {
                        margin: 0 0 0 10px;
                        width: 65%;

                        input {
                            margin-left: 10px;
                            width: 80%;
                            font-size: 12px;
                        }

                        img {
                            width: 17px;
                            margin-left: 0px;
                        }
                    }

                    button {
                        margin: 0 10px 0 0;
                        width: 35%;
                        height: 30px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}