@import "colors.scss";

.boxImg {
    .boxImgContent {
        width: 1297px;
        height: 451px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        border-radius: 8px;

        .text {
            width: 326px;
            margin-left: 86px;
            display: flex;
            flex-direction: column;
            gap: 42px;
            align-items: flex-start;
            justify-content: center;
            align-content: center;

            p {
                font-size: 36px;
                color: white;
            }

            button {
                background-color: transparent;
                border: 2px solid white;
                width: 163px;
                height: 54px;
                border-radius: 5px;
                font-size: 15px;
                color: white;
                cursor: pointer;
            }

        }
    }

    .boxImgContent4 {
        width: 1297px;
        height: 383px;
        background-image: linear-gradient(to left, #0085c6, #038dd0, #007CC1);
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        border-radius: 8px;

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            align-content: center;

            p {
                width: 447px;
                font-size: 16px;
                color: white;
            }

            p:first-child {
                font-size: 30px;
                margin-bottom: 23px;
            }


            form {
                margin-top: 38px;
                width: 546px;
                border-radius: 5px;
                height: 81px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: white;
                align-content: center;

                .input {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: white;
                    align-content: center;

                    img {
                        margin-left: 23px;
                    }

                    input {
                        border: none;
                        font-size: 16px;
                        outline: none;
                        margin-left: 15px;
                    }

                }

                button {
                    border-radius: 5px;
                    width: 173px;
                    height: 60px;
                    margin-right: 16px;
                    font-size: 16px;
                    color: white;
                    border: none;
                    background-color: $pinkDefault;
                }
            }


        }
    }
}

.sectionProduct {

    p {
        font-size: 24px;
        margin-top: 77px;
    }

    .newProducts {
        display: flex;
        gap: 22px;
        flex-direction: row;
        margin-top: 33px;

        .product {
            width: 198px;
            height: 354px;
            display: flex;
            flex-direction: column;


            .image {
                display: flex;
                justify-content: center;
                width: 196px;
                height: 235px;
                border: #f2f2f2 solid 1px;
                border-radius: 5px;

                .promo {

                    position: absolute;
                    width: 198px;
                    height: 37px;
                    display: flex;
                    flex-direction: row;
                    gap: 102px;



                    span:first-child {
                        margin: 11px 0 0 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        background-color: $pinkDefault;
                        border-radius: 50%;
                        color: white;
                        font-size: 9px;
                    }

                    span:last-child {
                        margin: 11px 12px 0 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        background-color: #fff;
                        border-radius: 50%;
                        color: black;
                        font-size: 9px;

                    }
                }

                .promoType2 {
                    span:first-child {
                        background-color: transparent;
                        color: transparent;
                        ;
                    }
                }
            }

            p {
                margin: 9px 0 0 0;
                width: 169px;
                height: 33px;
                color: #1d1d1d;
                font-size: 14px;
            }

            .review {
                margin: 17px 0 0 0;
                display: flex;
                flex-direction: row;

                p {
                    justify-self: flex-end;
                    font-size: 12px;
                    opacity: 0.7;
                    width: 82px;
                    text-decoration: underline;
                }

                .stars {
                    justify-self: flex-start;
                    display: flex;
                    flex-direction: row;
                    width: 68px;
                    height: 12px;

                    img {
                        width: 12px;
                    }
                }
            }

            .price {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p {
                    color: #1d1d1d
                }

                .old {
                    text-decoration: line-through;
                    font-size: 13px;
                    width: 42px;
                }

                .new {

                    font-size: 15px;
                    width: 60px;
                    margin-right: 20px;
                }

                .cart {
                    width: 36px;
                    height: 35px;
                    background-color: #111111;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 17px;
                        height: 16px;
                    }
                }

            }


        }
    }

    .nav {
        margin-top: 50px;
        width: 1297px;
        height: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .scrool {

            width: 1151px;
            height: 2px;
            display: flex;
            justify-content: center;
            background-color: #00000057;
            align-items: center;

            span {
                width: 170px;
                height: 4px;
                background-color: #282828;
            }
        }

        .btn {
            width: 104px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid black;
                width: 41px;
                height: 41px;
                border-radius: 50%;
                font-size: 15px;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}

@media(max-width: 1461px) {

    .boxImg {
        .boxImgContent {
            width: 1080px !important;
            height: 400px !important;

            .text {
                width: 250px !important;
                margin-left: 46px !important;

                button {
                    width: 150px !important;
                    height: 45px !important;
                }

            }

            img {
                height: 400px !important;
            }
        }

        .boxImgContent4 {
            width: auto !important;
            margin: 0 !important;

            .text {

                form {
                    width: 400px;
                    height: 60px;

                    .input {

                        img {
                            margin-left: 20px;
                        }
                    }

                    button {
                        width: 150px;
                        height: 45px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .sectionProduct {

        p {
            font-size: 22px;
            margin-top: 70px;
        }

        .newProducts {

            .product {
                width: 160px;
                height: 340px;

                .image {
                    width: 160px;
                    height: 200px;

                    .promo {
                        width: 160px;
                        height: 30px;

                        span:first-child {
                            width: 30px;
                            height: 30px;
                        }
                    }

                }

                p {
                    width: 160px;
                    font-size: 13px;
                }

                .price {

                    .cart {
                        width: 35px;
                        height: 34px;

                        img {
                            width: 16px;
                            height: 15px;
                        }
                    }
                }
            }
        }

        .nav {
            margin-top: 50px;
            width: 1080px;
            height: 46px;

            .scrool {

                width: 960px;
                height: 2px;

                span {
                    width: 140px;
                    height: 4px;
                    background-color: #282828;
                }
            }

            .btn {
                width: 95px;
            }
        }
    }
}

@media(max-width: 1200px) {
    .boxImg {
        .boxImgContent {
            width: calc(100vw - 40px) !important;
            height: 320px !important;

            .text {
                width: 250px !important;
                margin-left: 46px !important;

                button {
                    width: 150px !important;
                    height: 45px !important;
                }

            }

            img {
                height: 320px !important;
            }
        }

        .boxImgContent4 {
            margin: 0 20px ;
            width: calc(100vw - 40px) !important;
            height: 320px !important;

            .img {
                height: 320px;
            }

            .text {

                form {
                    width: 320px;
                    height: 50px;

                    .input {

                        input {
                            width: 150px;
                            font-size: 13px;
                        }

                        img {
                            width: 20px;
                            margin-left: 20px;
                        }
                    }

                    button {
                        width: 100px;
                        height: 35px;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .sectionProduct {
        width: 100vw;

        p {
            font-size: 22px;
            margin: 50px 0 35px 20px;
        }

        .newProducts {
            width: auto;
            margin: 0 20px;

            .product {
                width: calc(100vw/6 - 25px);
                height: 340px;
                display: flex;
                align-items: center;

                .image {
                    width: 145.5px;
                    height: 200px;

                    .promo {
                        width: 145.5px;
                        height: 30px;

                        span:first-child {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    img {
                        width: 145.5px;
                    }

                }

                p {
                    width: 145.5px;
                    font-size: 12px;
                }

                .price {
                    .old {
                        font-size: 11px;
                    }

                    .new {
                        font-size: 13px;
                    }
                }
            }
        }

        .nav {
            width: calc(100vw - 40px);
            height: 46px;
            margin: 20px;

            .scrool {

                width: 85vw;
                height: 2px;
                display: flex;
                justify-content: center;
                background-color: #00000057;
                align-items: center;

                span {
                    width: 150px;
                    height: 4px;
                    background-color: #282828;
                }
            }

        }
    }
}