@import "colors.scss";

.sectionProduct {

    p {
        font-size: 24px;
        margin-top: 77px;
    }

    .newProducts {
        display: flex;
        gap: 22px;
        flex-direction: row;
        margin-top: 33px;

        .product {
            width: 198px;
            height: 354px;
            display: flex;
            flex-direction: column;


            .image {
                display: flex;
                justify-content: center;
                width: 196px;
                height: 235px;
                border: #f2f2f2 solid 1px;
                border-radius: 5px;

                .promo {

                    position: absolute;
                    width: 198px;
                    height: 37px;
                    display: flex;
                    flex-direction: row;
                    gap: 102px;



                    span:first-child {
                        margin: 11px 0 0 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        background-color: $pinkDefault;
                        border-radius: 50%;
                        color: white;
                        font-size: 9px;
                    }

                    span:last-child {
                        margin: 11px 12px 0 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        background-color: #fff;
                        border-radius: 50%;
                        color: black;
                        font-size: 9px;

                    }
                }

                .promoType2 {
                    span:first-child {
                        background-color: transparent;
                        color: transparent;
                        ;
                    }
                }
            }

            p {
                margin: 9px 0 0 0;
                width: 169px;
                height: 33px;
                color: #1d1d1d;
                font-size: 14px;
            }

            .review {
                margin: 17px 0 0 0;
                display: flex;
                flex-direction: row;

                p {
                    justify-self: flex-end;
                    font-size: 12px;
                    opacity: 0.7;
                    width: 82px;
                    text-decoration: underline;
                }

                .stars {
                    justify-self: flex-start;
                    display: flex;
                    flex-direction: row;
                    width: 68px;
                    height: 12px;

                    img {
                        width: 12px;
                    }
                }
            }

            .price {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                p {
                    color: #1d1d1d
                }

                .old {
                    text-decoration: line-through;
                    font-size: 13px;
                    width: 42px;
                }

                .new {

                    font-size: 15px;
                    width: 60px;
                    margin-right: 20px;
                }

                .cart {
                    width: 36px;
                    height: 35px;
                    background-color: #111111;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 17px;
                        height: 16px;
                    }
                }

            }


        }
    }

    .nav {
        margin-top: 50px;
        width: 1297px;
        height: 46px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .scrool {

            width: 1151px;
            height: 2px;
            display: flex;
            justify-content: center;
            background-color: #00000057;
            align-items: center;

            span {
                width: 170px;
                height: 4px;
                background-color: #282828;
            }
        }

        .btn {
            width: 104px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid black;
                width: 41px;
                height: 41px;
                border-radius: 50%;
                font-size: 15px;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}

@media(max-width: 1461px) {



    .sectionProduct {

        p {
            font-size: 22px;
            margin-top: 70px;
        }

        .newProducts {

            .product {
                width: 160px;
                height: 340px;

                .image {
                    width: 160px;
                    height: 200px;

                    .promo {
                        width: 160px;
                        height: 30px;

                        span:first-child {
                            width: 30px;
                            height: 30px;
                        }
                    }

                }

                p {
                    width: 160px;
                    font-size: 13px;
                }

                .price {

                    .cart {
                        width: 35px;
                        height: 34px;

                        img {
                            width: 16px;
                            height: 15px;
                        }
                    }
                }
            }
        }

        .nav {
            margin-top: 50px;
            width: 1080px;
            height: 46px;

            .scrool {

                width: 960px;
                height: 2px;

                span {
                    width: 140px;
                    height: 4px;
                    background-color: #282828;
                }
            }

            .btn {
                width: 95px;
            }
        }
    }
}

@media(max-width: 1200px) {


    .sectionProduct {
        width: 100vw;

        p {
            font-size: 22px;
            margin: 50px 0 35px 20px;
        }

        .newProducts {
            width: auto;
            margin: 0 20px;

            .product {
                width: calc(100vw/6 - 25px);
                height: 340px;
                display: flex;
                align-items: center;

                .image {
                    width: 145.5px;
                    height: 200px;

                    .promo {
                        width: 145.5px;
                        height: 30px;

                        span:first-child {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    img {
                        width: 145.5px;
                    }

                }

                p {
                    width: 145.5px;
                    font-size: 12px;
                }

                .price {
                    .old {
                        font-size: 11px;
                    }

                    .new {
                        font-size: 13px;
                    }
                }
            }
        }

        .nav {
            width: calc(100vw - 40px);
            height: 46px;
            margin: 20px;

            .scrool {

                width: 85vw;
                height: 2px;
                display: flex;
                justify-content: center;
                background-color: #00000057;
                align-items: center;

                span {
                    width: 150px;
                    height: 4px;
                    background-color: #282828;
                }
            }

        }
    }
}

@media(max-width: 1024px) {


    .sectionProduct {
        width: 100vw;

        p {
            text-align: center;
            font-size: 22px;
            margin: 50px 0;
        }

        .newProducts {
            width: auto;
            margin: 0 20px;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;
            gap: 60px;

            .product {
                width: calc(100vw/5 - 10px);
                height: 305px;
                display: flex;
                
                align-items: center;
                

                .image {
                    width: calc(100vw/5 - 10px);
                    height: 170px;

                    .promo {
                        width: calc(100vw/5 - 10px);
                        height: 30px;

                        span:first-child {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    img {
                        width: calc(100vw/5 - 10px);
                    }

                }

                p {
                    width: 145.5px;
                    font-size: 12px;
                }

                .price {
                    .old {
                        font-size: 11px;
                    }

                    .new {
                        font-size: 13px;
                    }
                }
            }
        }

        .nav {
            width: calc(100vw - 40px);
            height: 46px;
            margin: 20px;

            .scrool {

                width: 80vw;
                height: 2px;
                display: flex;
                justify-content: center;
                background-color: #00000057;
                align-items: center;

                span {
                    width: 150px;
                    height: 4px;
                    background-color: #282828;
                }
            }

            .btn{
                span{
                    width: 35px;
                    height: 35px;
                }
            }

        }
    }
}

@media(max-width: 750px) {


    .sectionProduct {
        width: 100vw;

        p {
            text-align: center;
            font-size: 22px;
            margin: 50px 0;
        }

        .newProducts {
            width: auto;
            margin: 0 20px;
            display: grid;
            grid-template-columns: auto auto ;
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;
            gap: 60px;

            .product {
                width: 30vw;
                height: 305px;
                display: flex;
               // border: 2px solid #1c1c1c15;
                align-items: center;
                background-color: #f8f8f8;
                border-radius: 8px;
                

                .image {
                    width: calc(30vw - 1.1px);
                    height: 170px;

                    .promo {
                        width: calc(30vw - 10px);
                        height: 30px;

                        span:first-child {
                            width: 30px;
                            height: 24px;
                            font-size: 8px;
                        }

                        span:last-child{
                            height: 24px;
                            width: 40px;
                        }
                    }

                    img {
                        width: calc(100vw/5);
                    }

                }
            }
        }

        .nav {
            width: calc(100vw - 40px);
            height: 46px;
            margin: 20px;

            .scrool {

                width: 73vw;
                height: 2px;
                display: flex;
                justify-content: center;
                background-color: #00000057;
                align-items: center;

                span {
                    width: 150px;
                    height: 4px;
                    background-color: #282828;
                }
            }

            .btn{

                justify-content: space-around;

                span{
                    width: 30px;
                    height: 30px;
                }
            }

        }
    }
}