@import "colors.scss";

.container {
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600;
    display: flex;
    background-color: #fefefe;

    .hero {
        width: 1416px;
        height: 1130px;
        background-color: #fefefe;

        .topHero {
            .topHeroContent {
                width: 1461px;
                height: 453px;

                .carousel {
                    position: relative;
                    height: 100%;
                    width: 1295px;
                    background-image: url(../../assets/before.png);
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-left: 82px;

                    .s1,
                    .s2,
                    .s3,
                    .point,
                    img {
                        z-index: 2;
                        position: relative;
                    }

                    .s1 {
                        width: 291px;
                        height: 231px;
                        margin: 0 0 0 86px;
                        align-items: flex-start;
                        gap: 94px;

                        p {
                            font-size: 35px;
                            width: 290px;
                            height: 70px;
                            color: white;
                        }

                        button {
                            width: 231px;
                            height: 60px;
                            background-color: $pinkDefault;
                            border: none;
                            border-radius: 5px;
                            color: white;
                            font-size: 16px;
                        }
                    }

                    .s2 {
                        width: 324px;
                        height: 294px;
                        justify-content: space-between;

                        img {
                            width: 324px;
                            height: 224px;
                        }

                        .circle {
                            z-index: 3;
                            width: 125px;
                            height: 125px;
                            background-color: $pinkDefault;
                            border-radius: 50%;
                            margin: 0 0 -55px 58px;
                            align-self: flex-start;

                            p {
                                color: white;
                            }

                            .first {
                                font-size: 12px;
                            }

                            .second {
                                font-size: 20px;
                            }
                        }
                    }

                    .s3 {
                        width: 341px;
                        height: 372px;
                    }

                    .point {
                        align-self: flex-end;
                        position: relative;
                        z-index: 3;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        gap: 9px;
                        margin: -10px 640px;
                        width: 63px;
                        height: 15px;

                        span {
                            width: 15px;
                            height: 11px;
                            background-color: black;
                            border: white 2px solid;
                            border-radius: 50%;
                        }

                        .white {
                            background-color: white;
                        }
                    }

                    .logoCarousel {
                        align-self: flex-end;
                        margin: 0 22px -20px 48px;
                    }

                }

                .carousel::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-image: url("../../assets/hero.png");
                    border-radius: 8px;
                    opacity: 0.3;
                    z-index: 1;
                }

                .social {
                    transform: rotate(-90deg);
                    width: 392px;
                    height: 25px;
                    justify-content: space-between;
                    margin: -125px;
                    gap: 15px;

                    .insta,
                    .facebook,
                    .twitter {
                        flex-direction: row;
                        display: flex;
                        font-size: 15px;
                        align-items: center;
                        cursor: pointer;
                        gap: 13px;

                        p {
                            color: black;
                        }
                    }

                    span {
                        width: 7px;
                        height: 7px;
                        background-color: #1c1c1c;
                        border-radius: 50%;
                    }

                }
            }
        }

        .middleHero {
            .middleHeroContent {
                border-radius: 5px;
                border: 2px solid #f2f2f2;
                width: 1297px;
                height: 73px;

                margin: 35px 82px 0 82px;

                p {
                    text-align: center;
                    font-size: 16px;
                    margin-left: 268px;

                    a {
                        color: black;
                        text-decoration: none;
                    }
                }

                img {
                    margin-left: 233px;
                    cursor: pointer;
                }
            }
        }

        .bottomHero {
            .bottomHeroContent {
                align-items: flex-start;
                margin: 47px 82px 0 82px;

                p {
                    font-size: 24px;
                }

                .box {
                    margin: 42px 0 74px 0;
                    justify-content: space-between;

                    gap: 21px;

                    .item {
                        width: 242px;
                        height: 296px;
                        background-image: url("../../assets/item.png");
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        justify-content: center;
                        border-radius: 8px;

                        p {
                            margin: 0 0 36px 0;
                            color: white;
                            text-align: center;
                            font-size: 18px;
                            max-width: 172px;
                        }
                    }
                }
            }
        }
    }




    @media(max-width: 1461px) {

        .hero {
            width: 1200px;
            height: 1130px;

            .topHero {
                .topHeroContent {
                    width: 1200px;
                    height: 453px;

                    .carousel {
                        margin-left: 62px;
                        border-radius: 8px !important;
                        width: 1080px;

                        .s1 {
                            margin: 0 0 0 20px;
                            width: 250px;
                            height: 220px;
                            gap: 84px;

                            p {
                                font-size: 30px;
                                width: 250px;
                            }

                            button {
                                width: 200px;
                            }
                        }

                        .s2 {
                            width: auto;
                            height: 294px;

                            img {
                                width: 270px;
                                height: 180px;
                                margin-top: 60px;
                            }

                            .circle {
                                position: absolute;
                                width: 105px;
                                height: 105px;
                                margin: 0 0 0 58px;

                                .second {
                                    font-size: 18px;
                                }
                            }
                        }

                        .s3 {
                            width: auto;
                            height: 300px;

                            img {
                                width: 300px;
                            }
                        }

                        .point {
                            margin: -50px 50%;
                        }

                        .logoCarousel {
                            margin: 0 20px -50px 0;
                        }

                    }

                    .social {
                        margin: -165px;
                    }
                }
            }

            .middleHero {
                width: 1200px;

                .middleHeroContent {
                    width: 1080px;
                    height: 53px;
                    margin: 35px 62px 0 62px;

                    p {
                        font-size: 15px;
                    }

                    img {
                        width: 18px;
                    }
                }
            }

            .bottomHero {
                width: 1200px;

                .bottomHeroContent {
                    margin: 47px 62px 0 62px;

                    p {
                        font-size: 22px;
                    }

                    .box {
                        margin: 42px 0 64px 0;
                        gap: 20px;

                        .item {
                            width: 200px;
                            height: 270px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 1200px) {

        .hero {
            width: 100vw;
            height: auto;
            justify-content: space-around;
            margin: 20px 0;

            .topHero {
                .topHeroContent {
                    margin-top: 0;
                    width: 100vw;
                    height: 400px;

                    .carousel {
                        margin: 0 0 20px 20px;
                        border-radius: 8px !important;
                        height: 400px;

                        .s1 {
                            margin: 0 0 0 20px;
                            width: auto;
                            height: 210px;
                            gap: 84px;


                            button {
                                font-size: 15px;
                                width: 170px;
                                height: 50px;
                            }
                        }

                        .s2 {
                            width: auto;
                            height: 294px;

                            img {
                                width: 270px;
                                height: 180px;
                                margin-top: 60px;
                            }

                            .circle {
                                position: absolute;
                                width: 95px;
                                height: 95px;
                                margin: 0 0 0 58px;

                                .first {
                                    font-size: 10px;
                                }

                                .second {
                                    font-size: 16px;
                                }
                            }
                        }

                        .s3 {
                            width: auto;
                            height: 250px;

                            img {
                                width: 250px;
                            }
                        }

                        .point {
                            margin: -40px 50%;
                        }

                        .logoCarousel {
                            margin: 0 20px -40px 0;
                        }

                    }

                    .social {
                        margin: -145px;
                    }
                }
            }

            .middleHero {
                width: 100vw;

                .middleHeroContent {
                    width: auto;
                    height: 53px;
                    margin: 20px;

                    p {
                        text-align: center;
                        font-size: 15px;
                        margin-left: 25%;
                    }

                    img {
                        margin-right: 10px;
                        width: 15px;
                    }
                }
            }

            .bottomHero {
                width: 100vw;
                margin: 0;

                .bottomHeroContent {
                    width: calc(100vw - 40px);
                    margin: 30px 20px 0 20px !important;

                    p {
                        margin-top: 20px;
                        margin-bottom: 0;
                        font-size: 22px;
                    }

                    .box {
                        width: auto;
                        margin: 35px 0 50px 0;
                        gap: 20px;

                        .item {
                            width: calc(100vw/5 - 24px);
                            height: 270px;
                        }
                    }
                }
            }
        }
    }
    
    @media(max-width: 1024px) {

        .hero {
            width: 100vw;
            height: auto;
            justify-content: space-around;
            margin: 20px 0;

            .topHero {
                .topHeroContent {
                    margin-top: 0;
                    width: 100vw;
                    height: 320px;

                    .carousel {
                        width: auto;
                        border-radius: 8px !important;
                        height: 320px;
                        align-items: center;
                        align-content: center;
                        justify-content: space-evenly;

                        .s1 {
                            width: auto;
                            height: 180px;
                            gap: 50px;
                            margin: 0;


                            button {
                                font-size: 13px;
                                width: 150px;
                                height: 30px;
                            }
                        }

                        .s2 {
                            margin: 0;
                            width: auto;
                            height: 180px;

                            img {
                                width: 180px;
                                height: 150px;
                                margin-top: 0px;
                            }

                            .circle {
                                position: absolute;
                                width: 70px;
                                height: 70px;
                                margin: -25px 0 0 40px;

                                .first {
                                    margin: 0;
                                    font-size: 8px;
                                }

                                .second {
                                    margin: 0;
                                    font-size: 14px;
                                }
                            }
                        }

                        .s3 {
                            margin: 0;
                            width: auto;
                            height: 180px;

                            img {
                                width: 180px;
                            }
                        }

                        .point {
                            margin: -45px 50%;
                            span{
                                width: 7px;
                                height: 7px;
                            }
                        }

                        .logoCarousel {
                            display: none;
                        }
                    }

                    .social {
                        display: none;
                    }
                }
            }

            .middleHero {
                width: 100vw;

                .middleHeroContent {
                    width: auto;
                    height: auto;
                    padding: 15px 0;
                    margin: 20px;
                    text-align: center;

                    p {
                        text-align: center;
                        font-size: 13px;
                        margin-left: auto;
                    }

                    img {
                        margin-right: 15px;
                        width: 15px;
                        margin-left: auto;
                    }
                }
            }

            .bottomHero {
                width: 100vw;
                margin: 0;

                .bottomHeroContent {
                    width: calc(100vw - 40px);
                    margin: 30px 20px 0 20px !important;

                    p {
                        margin-top: 20px;
                        margin-bottom: 0;
                        font-size: 22px;
                    }

                    .box {
                        width: auto;
                        margin: 35px 0 50px 0;
                        gap: 20px;

                        .item {
                            width: calc(100vw/5 - 24px);
                            height: 230px;

                            p{
                                width: 85%;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 750px) {

        .hero {
            width: 100vw;
            height: auto;
            justify-content: space-around;
            margin: 20px 0;

            .topHero {
                .topHeroContent {
                    margin-top: 0;
                    width: 100vw;
                    height: 560px;

                    .carousel {
                        transform: rotate(90deg);
                        width: 600px;
                        border-radius: 8px !important;
                        height: 400px;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        margin: 0;
                        gap: 0px;

                        .s1 {
                            transform: rotate(-90deg);
                            width: 25%;
                            max-height: 130px;
                            justify-content: center;
                            gap: 0;
                            margin: 0 !important;
                            align-items: center;
                            height: auto;

                            p{
                                text-align: center;
                                font-size: 25px;
                            }


                            button {
                                font-size: 11px;
                                width: 120px;
                                height: 25px;
                            }
                        }

                        .s2 {
                            transform: rotate(-90deg);
                            margin: 0;
                            width: 30%;
                            height: auto;

                            img {
                                width: 150px;
                                height: 115px;
                                margin-top: 0px;
                            }

                            .circle {
                                position: absolute;
                                width: 50px;
                                height: 50px;
                                margin: -20px 0 0 40px;

                                .first {
                                    margin: 0;
                                    font-size: 7px;
                                }

                                .second {
                                    margin: 0;
                                    font-size: 10px;
                                }
                            }
                        }

                        .s3 {
                            transform: rotate(-90deg);
                            margin: 0;
                            width: 25%;
                            height: auto;

                            img {
                                width: 130px;
                            }
                        }

                        .point {
                            display: none;
                            transform: rotate(-90deg);
                            margin: -45px 50%;
                            span{
                                width: 7px;
                                height: 7px;
                            }
                        }

                        .logoCarousel {
                            display: none;
                        }
                    }

                    .social {
                        display: none;
                    }
                }
            }

            .middleHero {
                margin-top: 5%;

                .middleHeroContent {
                    padding: 15px 0;
                }
            }

            .bottomHero {

                .bottomHeroContent {
                    width: calc(100vw - 40px);
                    margin: 30px 20px 0 20px !important;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    p {
                        margin-top: 20px;
                        margin-bottom: 0;
                        font-size: 18px;
                    }

                    .box {
                        display: grid !important;
                        grid-template-columns: auto auto !important;
                        justify-items: center !important;
                        align-items: center !important;
                        justify-content: center !important;
                        align-content: center !important;

                        .item {
                            width: calc(100vw/3);
                            height: 260px;

                            p{
                                width: 85%;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 580px) {

        .hero {
            width: 100vw;
            height: auto;
            justify-content: space-around;
            margin: 20px 0;

            .topHero {
                .topHeroContent {
                    margin-top: 0;
                    width: 100vw;
                    height: auto;

                    .carousel {
                        justify-content: space-evenly;
                        height: 395px;
                       
                        .s1 {
                            transform: rotate(-90deg);
                            width: 25%;
                            max-height: 130px;
                            justify-content: center;
                            gap: 0;
                            margin: 0 !important;
                            align-items: center;
                            height: auto;

                            p{
                                text-align: center;
                                font-size: 25px;
                            }


                            button {
                                font-size: 13px;
                                width: 140px;
                                height: 30px;
                            }
                        }

                        .s2 {
                            //display: none;
                            transform: rotate(-90deg);
                            margin: 0;
                            width: 30%;
                            height: auto;

                            img {
                                width: 150px;
                                height: 115px;
                                margin-top: 0px;
                            }

                            .circle {
                                position: absolute;
                                width: 60px;
                                height: 60px;
                                margin: -25px 0 0 35px;

                                .first {
                                    margin: 0;
                                    font-size: 8px;
                                }

                                .second {
                                    margin: 0;
                                    font-size: 13px;
                                }
                            }
                        }

                        .s3 {
                            display: none;
                        }

                        .point {
                            display: none;
                            transform: rotate(-90deg);
                            margin: -45px 50%;
                            span{
                                width: 7px;
                                height: 7px;
                            }
                        }

                        .logoCarousel {
                            display: none;
                        }
                    }

                    .social {
                        display: none;
                    }
                }
            }

            .middleHero {
                margin-top: 5%;

                .middleHeroContent {
                    padding: 15px 0;
                }
            }

            .bottomHero {

                .bottomHeroContent {
                    width: calc(100vw - 40px);
                    margin: 30px 20px 0 20px !important;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    >p{
                        border-top: 2px solid #1c1c1c;
                        border-bottom: 2px solid #1c1c1c;
                        text-align: center;
                        font-size: 22px;
                        margin: 0 20px;
                        padding: 20px;
                    }

                    .box {
                        display: grid !important;
                        grid-template-columns: 50vw !important;
                        justify-items: center !important;
                        align-items: center !important;
                        justify-content: center !important;
                        align-content: center !important;

                        .item {
                            width: 50vw;
                            height: 300px;

                            p{
                                width: 85%;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}