.container{
    .section2{
            margin: 48px 0 0 0;
            width: 1416px;
            background-color: #fefefe;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 51px;

            .grid-container {
                display: grid;
                grid-template-columns: 307px 307px 307px 307px;
                gap: 23px;

                .item {
                    display: flex;                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #f8f8f8;
                    width: 307px;
                    height: 157px;
                    font-size: 30px;
                    text-align: center;
    
                    p{
                        font-size: 18px;
                        margin: 0 0 0 29px;
                        max-width: 123px;
                        color: #1c1c1c;
                    }
    
                }
            }
            
            .boxImg{
                .boxImgContent{
                    width: 1297px;
                    height: 451px;
                    background-image: linear-gradient(to right, #f7931c, #f8b333);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: center;
                    justify-content: space-between;
                    border-radius: 8px;

                    .text{
                        width: 326px;
                        margin-left: 86px;
                        display: flex;
                        flex-direction: column;
                        gap: 42px;
                        align-items: flex-start;
                        justify-content: center;
                        align-content: center;

                        p{
                            font-size: 36px;
                            color: white;
                        }

                        button{
                            background-color: transparent;
                            border: 2px solid white;
                            width: 163px;
                            height: 54px;
                            border-radius: 5px;
                            font-size: 15px;
                            color: white;
                        }

                    }
                }

            }
        }
}