@import "colors.scss";

.section7 {
    margin: 76px 0 77px 0;
    padding-bottom: 98px;
    background-image: linear-gradient(to top, #fafafa, white);
    display: flex;
    flex-direction: column;
    align-items: center;

    .deals {
        display: flex;
        flex-direction: row;
        //gap: 24px;
        justify-content: space-between;
        align-items: center;
        width: 1297px;
        align-content: center;

        .deal {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            width: 305px;
            height: 199px;
            align-items: center;
            align-content: center;
            background-color: white;
            border-radius: 8px;

            p {
                color: #343434;
                font-size: 16px;
                text-align: center;
                max-width: 216px;
                max-height: 47px;
            }

            .titleDeal {
                font-size: 18px;
                color: #1d1d1d;
                margin: 22px 0 12px 0;
            }
        }
    }
}

.socialMedia {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;

    p {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    .username {
        font-size: 30px;
    }
}

.images {
    background-color: white;
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    width: 1461px;

    img {
        margin: 0;
        border: 0;
        width: 210px;
        height: 210px;
    }
}

@media(max-width: 1461px) {
    .section7 {
        margin: 66px 0 67px 0;
        padding-bottom: 88px;

        .deals {
            width: 1080px;

            .deal {
                width: 270px;
                height: 180px;
            }
        }
    }

    .images {
        width: 1200px;

        img {
            margin: 0;
            border: 0;
            width: 171px;
            height: 171px;
        }
    }

}

@media(max-width: 1200px) {
    .section7 {
        margin-bottom: 44px;
        padding-bottom: 70px;

        .deals {
            width: auto;
            margin: 20px;

            .deal {
                width: 24vw;
                height: 180px;
            }
        }

    }

    .images {
        width: 100vw;

        img {
            margin: 0;
            border: 0;
            width: 14.28vw;
            height: 14.28vw;
        }
    }

}

@media(max-width: 750px) {
    .section7 {
        margin: 0 0 20px 0 ;
        padding-bottom: 50px;

        .deals {
            width: auto;
            margin: 20px;

            .deal {
                width: 24vw;
                height: 180px;

                img{
                    width: 50px;
                }

                p{
                    font-size: 14px !important;
                }

                .titleDeal{
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }

    }

    .images {
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
        
        img {
            border: 1px solid white;
            margin: 0;
            width: calc(25vw - 2px);
            height: 25vw;
        }
    }

}

@media(max-width: 580px) {

    .container{
        margin-top: 0 !important;
    }

    .section7 {
        margin: 0 0 20px 0 ;
        padding-bottom: 50px;

        .deals {
            width: auto;
            margin: 20px;
            
            flex-wrap: wrap !important;
            flex-direction: column !important;

            .deal {
                width: 50vw;
                height: 180px;

                img{
                    width: 70px;
                }

                p{
                    font-size: 15px !important;
                }

                .titleDeal{
                    font-size: 18px !important;
                    font-weight: bold !important;
                }
            }
        }

    }
}