@import "colors.scss";

.section3{
    width: 1416px;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    .boxImg{
        .boxImgContent{
            width: 1297px;
            height: 451px;
            //background-image: linear-gradient(to right, #6aa0b8, #b1e3e1 40%);
            background-image: linear-gradient(to right, #6aa0b8, #70b1bc, #a7d9db 40%, #b1e3e1);
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            border-radius: 8px;

            .text{
                width: 326px;
                margin-left: 86px;
                display: flex;
                flex-direction: column;
                gap: 42px;
                align-items: flex-start;
                justify-content: center;
                align-content: center;

                p{
                    font-size: 36px;
                    color: white;
                }

                button{
                    background-color: transparent;
                    border: 2px solid white;
                    width: 163px;
                    height: 54px;
                    border-radius: 5px;
                    font-size: 15px;
                    color: white;
                    cursor: pointer;
                }

            }
        }

    }

    .sectionProduct{

        p{
            font-size: 24px;
            margin-top: 77px;
        }

        .newProducts{
            display: flex;
            gap: 22px;
            flex-direction: row;
            margin-top: 33px;

            .product{
                width: 198px;
                height: 354px;
                display: flex;
                flex-direction: column;
                

                .image{
                    display: flex;
                    justify-content: center;
                    width: 196px;
                    height: 235px;
                    border: #f2f2f2 solid 1px;
                    border-radius: 5px;
                    
                    .promo{
                        
                        position: absolute;
                        width: 198px;
                        height: 37px;
                        display: flex;
                        flex-direction: row;
                        gap: 102px;

                        

                        span:first-child{
                            margin: 11px 0 0 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 36px;
                            height: 36px;
                            background-color: $pinkDefault;
                            border-radius: 50%;
                            color: white;
                            font-size: 9px;
                        }

                        span:last-child{
                                margin: 11px 12px 0 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 36px;
                                height: 36px;
                                background-color: #fff;
                                border-radius: 50%;
                                color: black;
                                font-size: 9px;
                            
                        }
                    }

                    .promoType2{
                        span:first-child{
                            background-color: transparent;
                            color: transparent;;
                        }
                    }
                }

                p{
                    margin: 9px 0 0 0;
                    width: 169px;
                    height: 33px;
                    color: #1d1d1d;
                    font-size: 14px;
                }

                .review{
                    margin: 17px 0 0 0;
                    display: flex;
                    flex-direction: row;
                    
                    p{
                        justify-self: flex-end;
                        font-size: 12px;
                        opacity: 0.7;
                        width: 82px;
                        text-decoration: underline;
                    }

                    .stars{
                        justify-self: flex-start;
                        display: flex;
                        flex-direction: row;
                        width: 68px;
                        height: 12px;

                        img{
                            width: 12px;
                        }
                    }
                }

                .price{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    p{
                        color: #1d1d1d
                    }

                    .old{
                        text-decoration: line-through;
                        font-size: 13px;
                        width: 42px;
                    }

                    .new{
                        
                        font-size: 15px;
                        width: 60px;
                        margin-right: 20px;
                    }

                    .cart{
                        width: 36px;
                        height: 35px;
                        background-color: #111111;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        img{
                            width: 17px;
                            height: 16px;
                        }   
                    }

                }

                
            }
        }

        .nav{
            margin-top: 50px;
            width: 1297px;
            height: 46px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .scrool{
                
                width: 1151px;
                height: 2px;
                display: flex;
                justify-content: center;
                background-color: #00000057;
                align-items: center;

                span{
                    width: 170px;
                    height: 4px;
                    background-color: #282828;
                }
            }

            .btn{
                width: 104px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid black;
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    font-size: 15px;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
}