@import "reset.scss";
@import "flex.scss";
@import "colors.scss";
@import "header.scss";
@import "hero.scss";
@import "section2.scss";
@import "section3.scss";
@import "section4.scss";
@import "section5.scss";
@import "section6.scss";
@import "section7.scss";
@import "footer.scss";


@import "boxImg.scss";
@import "comun.scss";
html{
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

